@model TRP_Managment_System.DTOs.ProgramDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Program</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProgramName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgramName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRPScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TRPScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChannelId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChannelId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AirTime)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProgramId }, new { @class = "btn btn-success" }) 
    @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-secondary" })
</p>
